name: Ejecutar Script Python en Push

- uses: actions/checkout@v3
  with:
    fetch-depth: 0  #  trae todo el historial, necesario para contar commits correctamente


# Qu茅 eventos activar谩n este workflow
on:
  push:
    branches:
      - main  # Puedes cambiar a la rama que desees, por ejemplo "master"

jobs:
  ejecutar_script:
    runs-on: ubuntu-latest  # El entorno de ejecuci贸n es Ubuntu

    steps:
    # Paso 1: Checkout del c贸digo
    - name: Hacer checkout del c贸digo
      uses: actions/checkout@v2

    # Paso 2: Configurar Python
    - name: Configurar Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'  # Puedes cambiar a la versi贸n que necesites

    # Paso 3: Instalar las dependencias (si tienes un archivo requirements.txt)
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install requests  # Si tienes un archivo requirements.txt

    # Paso 4: Ejecutar el script Python
    - name: Ejecutar script Python
      run: |
        python main.py  # Script que se ejecuta
